plugins/internal/nexus-wonderland-plugin/src/main/resources/docs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://sonatype.org/xsd/nexus-wonderland-plugin/rest/1.0" xmlns:ns0="http://sonatype.org/xsd/nexus-wonderland-plugin/rest/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authTicket" type="ns0:authTicket"/>
  <xs:element name="authToken" type="ns0:authToken"/>
  <xs:complexType name="authTicket">
    <xs:sequence>
      <xs:element name="t" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authToken">
    <xs:sequence>
      <xs:element name="u" type="xs:string" minOccurs="1"/>
      <xs:element name="p" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
